.login {
    width: 50%;
    padding-top: 100px;
}

.login__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo {
    text-align: center;
    margin-bottom: 63px;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 18px;
}

.login__container form {
    width: 100%;
}

.login__email,
.login__password {
    display: flex;
    flex-direction: column;
    padding-inline: 10rem;
}

.login__email {
    margin-bottom: 1rem;
}

.login__password {
    margin-bottom: 1.7rem;
}

.login__email label,
.login__password label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.23px;
    color: var(--grey-color-first);
    margin-bottom: 12px;
}

.login__email input,
.login__password input {
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--primary-color);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #EAEBEC;
}

.login__submit {
    padding-inline: 10rem;
    margin-bottom: 21px;
}

.login__submit-btn {
    width: 100%;
    padding-block: 12px;
    color: var(--white-color);
    background-color: var(--blue-background);
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.login__submit-btn:hover {
    background-color: #0b66ce;
}

.login__register {
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    letter-spacing: 0%;
    margin: 0;
    margin-bottom: 42px;
}

.login__register a {
    color: var(--blue-color);
}

.login__register a:hover {
    color: #0b66ce;
    text-decoration: underline;
}

.login__others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login__divider {
    padding-inline: 10rem;
    margin: 0;
    margin-bottom: 24px;
}

.login__divider span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--grey-color-seventh);
}

.login__divider b {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--primary-color);
}

.login__others-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 8px;
}

.login__others-btns button {
    margin-inline: 10rem;
    border-radius: 1rem;
    border: 1px solid #EAEBEC;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 11px;
    justify-content: center;
    transition: 0.5s;
}

.login__others-btns button:hover {
    border: 1px solid #d6d6d6;
    background-color: #eeeeee88;
}

.login__others-btns button span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.login__others-btns button b {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.login__result {
    position: absolute;
    background-color: var(--white-color);
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeSlideIn 0.5s ease forwards;
}

.login__result.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.no-scroll {
    overflow: hidden;
}