.form {
    background-color: var(--white-color);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.form__container {
    padding: 30px 50px 35px;
}

.form__container h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.26%;
    vertical-align: middle;
    margin-bottom: 5px;
}

.form__container p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--grey-color-fourth);
    margin-bottom: 25px;
}

.form__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 25px;
}

.form__input label {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.23px;
    color: var(--grey-color-first);
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__input input,
.form__input-select,
.form__input-date {
    background-color: #F7F9FB;
    height: 46px;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1%;
}

.form__submit-btn {
    width: 100%;
    color: var(--white-color);
    background-color: var(--blue-background);
    border: 0;
    border-radius: 4px;
    padding-block: 12px;
}

.form__submit-btn:hover {
    background-color: #0A6ADA;
}